*{margin: 0;
padding: 0;
box-sizing: border-box;
font-family: Bebas Neue;}

html{font-size: 62.5%;}


.heading{font-size: 10rem;
color: white;
font-weight: 900;}

.box{background-color: #415a77;
height: 700px;
width: 700px;
margin: 0 auto;
border: 0;
border-radius: 15px;}

.button{background-color: #e0e1dd;
padding: 10px 20px;
font-size: 3rem;
border: 0;
color: black;
margin-top: 100px;}

.button:hover{background-color: #628ec9;}

.bg-color{background-color: #0d1b2a ;}

.result{color: white;
font-family: Bebas Neue;
font-size: 4rem;}


